*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px 0;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 535px;
  column-gap: 30px;
  /* border: 1px solid #f00f0f;  вспомогательная рамка */
}

/* СЕКЦИЯ result */

.result {
  width: 711px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin: 78px 0 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

/* СЕКЦИЯ result - ФОРМЫ */

.search-form {
  display: grid;
  grid-template-columns: 225px 1fr 1fr; 
  column-gap: 40px;
}

.search-form__fieldset {
  align-self: start;
  border: none;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  margin-bottom: 3px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255, 0.7);
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 0;
  border-left: 0;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: flex-start;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  align-items: center;
  /* width: fit-content; */
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* класс реального чекбокса */

.search-form__checkbox { 
/* Непонятно, зачем данный класс, если стандартный чекбокс скрывается */
}

/* END -- класс реального чекбокса */

/* сокрытие реального чекбокса */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* END -- сокрытие реального чекбокса */

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: sub;
  /* vertical-align: middle; */
  position: relative;
}

.search-form__pseudo-checkbox:active::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255, 255, 255, 0.7);
  appearance: none;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

/* СЕКЦИЯ result - END --- ФОРМЫ */

.button {
  display: inline-block;
  align-self: end;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color:#fff;
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 6px 73px;
}

.more-button {
  width: 397px;
}

.button:hover {
  background-color: transparent;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* END --- СЕКЦИЯ result */

/* СЕКЦИЯ content__details */

.content__details {
  width: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.content__accent {
  color: #545050;
}

.content__list {
  width: 100%;
  margin-bottom: 34px;
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list::-webkit-scrollbar {
  display: none;
}

/* END --- СЕКЦИЯ content__details */

/* template карточек */

.cards-list-item-template {
  width: 399px;
  box-sizing: border-box;
}

.content__list-item {
  width: 100%;
  margin-bottom: 27px;
  padding: 2px;
}

.content__list-item:active, .content__card-link_current {
  background-color: #545050;
} 

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:active {
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  width: 100%;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr 194px;
  grid-template-rows: 107px;
}

.content__video-card-description-container {
  display: block;
  width: 100%;
  align-self: stretch;
  margin-bottom: 4px;
  padding-top: 2px;
  padding-left: 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #fff;
}

.content__video-card-thumbnail {
  display: block;
  max-width: 194px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* END --- template карточек */